# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dotenv environment variables
.env
.env.*.local
*.local

# Test coverage
coverage/

# Local dev SSL certs
*.pem

# Lockfiles (ignore unused ones)
yarn.lock
pnpm-lock.yaml

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
